.rectangle1 {
    width: 600px;
    height: 400px;
    background-color: lavender;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid grey;
    padding: 10px;
  }

 
  .rectangle2 {
    width: 450px;
    height: 250px;
    background-color: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid grey;
    padding: 10px;
  }


  .rectangle3 {
    width: 300px;
    height: 100px;
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid grey;
    padding: 10px;
  }


  .rectangle-text1 {
    position: relative;
    top: -4%;
    left: 96%;
    transform: translate(-50%, -50%);
    
  }

  .rectangle-text2 {
    position: relative;
    top: 28%;
    left: 93%;
    transform: translate(-50%, -50%);
  }

  .rectangle-text3 {
    position: relative;
    top: -7%;
    left: 95%;
    transform: translate(-50%, -50%);
  }