#first {
    width: 600px;
    height: 600px;
    background: red;
    overflow: hidden;
  }
  
  #second {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 25px;
    background: black;
    overflow: hidden;
  }
  
  #third {
    width: 150px;
    height: 150px;
    margin-top: 18.75px;
    margin-left: 18.75px;
    background: orange;
  }